.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 2em
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.stats-panels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
    align-self: stretch;
    width: auto;           /* shrink to content if possible */
    max-width: 100%;       /* never overflow parent */
}