.stats-panel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: var(--border);
    border-radius: var(--border-radius);

    background: var(--background-color);
    padding: 1.2em;
}

.stats-title {
    display: flex;
    align-items: center;
    font-size: clamp(0.5rem, 1rem, 1rem);
}

.stats-icon {
    margin-left: auto;
}

.stats-main {
    font-size: clamp(1.5rem, 2.5rem, 2.5rem);
    font-weight: bolder;
}

.stats-extra-info {
    color: #03B200;
    font-size: clamp(0.5rem, 0.85rem, 0.85rem);
}
