.experience {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experience .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline {
    display: grid;
}

.timelineItem {
    display: grid;
    grid-template-columns: 1fr 0.005rem 1fr;
    grid-template-areas: "duration line content";
    gap: 2rem;
}

.timelineDuration {
    grid-area: duration;
    justify-self: end;
}

.timelineMiddle {
    position: relative;
    grid-area: line;
    background: var(--fill);
    height: 14rem;
}

.timelinePoint {
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    height: 1.2rem;
    width: 1.2rem;
    z-index: 1;
    background: var(--background-color);
    border: 0.005rem var(--border-type) var(--fill);
    border-radius: 50%;
}

.timelineContent {
    grid-area: content;
}