.experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;    
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: var(--timeline-point-dimension);
    justify-content: center;
    align-items: stretch;
}

.timelineItem {
    display: grid;
    grid-template-columns: 1fr 0.02rem 1fr 1fr;
    gap: 1.5rem;
}

.timelineItem:last-child .timelineMiddle {
    background: none;
}

.timelineMiddle {
    background: var(--fill);
    width: 0.04rem;

    transform: translate(0, 1rem);
}

.timelinePoint {
    background: var(--fill);
    width: var(--timeline-point-dimension);
    height: var(--timeline-point-dimension);

    transform: translate(-50%, -100%);
    border-radius: 50%;
}

.timelineDuration {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    font-size: 0.9rem;
}

.timelineContent {
    grid-column: span 2;
}

.end {
    align-self: flex-end;
}