.seperator {
    margin: 2rem 2rem;
    border: var(--border);
}

.body-panel {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 2em 0;
    background: var(--dashboard-bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem 0;   
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 900px) {
    .main-content {
            grid-template-columns: 1fr;
    }
}