.overlay {
  position: fixed; /* stays in place, even on scroll */
  top: 0;
  left: 0;
  width: 100vw; /* cover full viewport width */
  height: 100vh; /* cover full viewport height */
  background: rgba(0, 0, 0, 0.7); /* 70% transparent black */
  z-index: 1000;
}

.contactForm {
  /* viewport positioning */
  height: 70vh;
  width: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  /* shifts element's center to the exact middle */
  transform: translate(-50%, -50%);

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.closeButton {
    position: absolute;
    top: 1em;
    right: 1em;

    border: none;
    background: none;

    cursor: pointer;
}

.closeButton:hover .svg-close-path{
    fill: var(--fill);
}
