.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2em;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.stats-panels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 1.2rem;

}