html,
body {
  margin: 0;
  padding: 0;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  background-image: url('/bg-polka-dot.svg');
}

:root {
  --background-color: #232121; 
  --fill: #FFFFFF;
  --fill-secondary: #908D8D;
  --accent: #1EC118;
  --accent-hover: #18A113; /* darker for hover */

  --border-type: solid;
  --border-width: 0.002rem;
  --border: var(--border-width) var(--border-type) var(--fill-secondary);
  --border-radius: 0.7rem;

  --dashboard-bg-color: rgba(2, 2, 2, 0.6);

  --timeline-point-dimension: 1.3rem;
}
