html,
body {
  height: 100svh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #232121;
  background-image: url('/bg-polka-dot.svg');
}

:root {
  --accent: #1EC118;

  --border: 0.002rem solid #908D8D;
  --border-radius: 0.7rem;
}
